
.container-content {
    width: 1280px;
    margin-top:50px;
    margin-right: 100px;
    margin-left: 100px;
}
/* Ramda JS */
.container a {
    width: 335px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;

    color: #000000;
}
.blue-text {
    color: #4acbff;
}

/* Header menu */
.head-menu {
    margin-top: 35px;
    width: 100%;
    font-size: 0;
    background-color: #35444f;
}
.parent-header-menu {
    margin: 0;
    padding: 0;
    text-align: center;
}
.child-header-menu {
    display: inline-block;
    border-left: 1px solid white;
    width: auto;

    background-color: #35444f;
}

.link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: Roboto;
    padding: 25px 30px 20px;
    display: block;
}
#node-link {
    width: auto;


}

/* Sidebar */
.gray-border {
    border: 1px solid #000000;

    width: 344px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 70px;
    color: #485863;
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
    margin-top: 30px;

}
.gray-border li {
    padding: 0 0 0 35px;
}

.gray-border a {
    display: block;
    text-decoration: none;
    color: #485863;

}
/* Image */
img {
    width: 320px;
    height: 355px;

}

.image {
    margin-top: 30px;
    margin-left: 48px;
    display: inline-block;
    border: 1px solid #000000;

    padding: 75px 260px 75px 300px;

}
.margin-left-hover {
    margin-left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #F70D0D;
}

/* Main-text */
.main-text  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    margin: 30px 0 80px 396px;

    color: #2C2C2C;
}

.main-text p {
    margin-bottom: 30px;
}

/* Footer */
.footer-ul  {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 75%;
    text-align: center;
    background: rgba(99, 105, 110, 0.48);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    border-collapse: collapse;


}

.blue-footer ul{
    width: 90%;

}

.blue-footer li {
    display: inline-block;

}
.blue-footer a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #0C1927;
}

.spec-symbol-footer{
    display: inline-block;
    background: rgba(99, 105, 110, 0.48);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding: 15px;
    padding-left: 100px;
    padding-right: 10px;
    border-collapse: collapse;
    width: 15%;
    margin-left: -4px;

}
.special-symbol {
    content:\00A9;
}

.container div:hover {
    background-color: #FF0000;
}


/* Additional task */
.gray-border li:hover {
    background-color: #DBDBDB;
    text-align: center;
    color: #35444F;
    padding-left: 0px;

}

.image img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.blue-footer a:hover{
    color: #3281a5;
    border-bottom: 1px solid #3281a5;
    line-height: 10px;
}

.head-menu a:hover{
    background-color: #222f3a;
    cursor: pointer;
    width: auto;
}