html, body, .container{
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    z-index: -1;
    background-size: cover;

    @font-face {
        font-family: Ubuntu, serif;
        src: url(../fonts/Ubuntu.ttf);
    }
}
.header{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 75px;

}

.h1-header > a{
    color: #FFFFFF;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    vertical-align: center;
    padding-top: 20px;
    padding-left: 80px;
    text-transform: uppercase;
    text-decoration: none;

}

.h1-header{
    margin-left: 90px;
}
.right-heading{
    float: right;
}
.right-header-sprites{

  margin-bottom: 50px;
    position: absolute;
    top: 20px;
    right: 150px;


}
.right-header-links{
    float: right;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin-top: 5px;
    border-left: 1px solid white;
    padding-left: 20px;
}
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    float:right;


}

.sprite-calendar {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-message {
    width: 30px;
    height: 30px;
    background-position: -69px -5px;
}
.sprite-compass {
    width: 30px;
    height: 30px;
    background-position: -36px -5px;
}

.clear-fix{
    clear: both;
}
.content-wrapper{
    margin: auto;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;


    width: 25%;
    background-color: #FFFFFF;
}

.form{
    margin: auto;
    font-family: Ubuntu;



}
.sign-item{
    padding-top: 30px;
    position: relative;
}
.sprite-square {
    width: 30px;
    height: 30px;
    background-position: -69px -30px;
    position: absolute;
    left: -40px;
    bottom: 1px;
}
.link-form {
    text-decoration: none;
    color: #3CB878;
}
.link-label{
    float: right;
    font-size: 14px;
    line-height: 14px;

}
.green-label{
    font-size: 20px;
    line-height: 20px;

}

.buttons{
    text-align: center;
    margin-top: 20px;
    position: relative;



}
.facebook{
    background-color: #305DB8;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 30px;
    margin-right: 10px;
}
.google{
    background-color: #DF4A32;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 30px;
    margin-left: 10px;
    border: 1px solid transparent;
}
.sprite-facebook {
    width: 25px;
    height: 25px;
    background-position: -4px -38px;
    position: absolute;
    z-index: 1;
    bottom: 12px;
    left: 30px;
    border-right: 1px solid gray;
}
.sprite-google {
    width: 35px;
    height: 25px;
    background-position: -28px -39px;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 215px;
    border-right: 1px solid gray;
}
.contacts {
    margin-top: 20px;
    border-top: 1px solid lightgrey;

}
.contacts-legend {
    text-align: center;
    padding: 10px;
}

.input-text{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    padding-left: 40px;
    box-sizing: border-box;
}

.checkbox-label{
   margin-right: 10px;

}
.green-span{
    color: #3CB878;
}

.submit-button {
    background-color: #305DB8;
    height: 48px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-text:active{
    box-shadow: darkgray 0 0 10px 0;
}

header a:hover{
    color: #3CB878;
}
header .sprite:hover{
  color: #3CB878;
}

.green-span:hover{
    border-bottom: 1px solid #3CB878;
}