
.container {
    width: 1366px;

    align-items: center;
    height: 765px;
    background-image: url("../images/img1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    border: 1px solid black;

}

.content-wrapper {
    width: 85%;
    margin: 50px 60px 50px 100px;
    box-sizing: border-box;
    text-align: center;
}


.div1 {
    float: left;
    margin-right: 10px;


}

.heading-link{
    display: block;
    text-decoration: none;
    margin-left: 50px;
    box-sizing: content-box;
}


.text-headings {

    color: #FFFFFF;
    display: inline-block;
}

.h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;



}
.h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;


}

.h1, .h2{
  position: relative;
    right: 480px;
}

.right-heading {
 text-align: right;
    position: absolute;
    width: 219px;
    height: 21px;
    left: 809px;
    top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;


}

.right-heading-phone{
    position: absolute;
    width: 146px;
    height: 21px;
    left: 882px;
    top: 80px;
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.right-heading-phone, .right-heading {
    margin-left: 190px;
}
.image-container{
    float: left;
    width: 31.5%;
    padding: 10px;
    position: relative;

}

main img {
    width: 300px;
}


.text1-images {
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

}
.text1-images a {
    display: inline-block;
    width: 33.3%;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;




}

.clear {
    clear: left;
}

.footer-wrapper {
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.special-symbol{
    &#169;
}

a:hover{
    color: #F26522;
}

.hover-menu{
    background-color: coral;
    line-height: 20px;
    position: absolute;
    bottom: 10px;
    width: 296px;
    margin-left: 35px;

}

.hover-menu:hover{
    display: block;

}