body {
    margin: 0px;
}


.header {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.header a {
    margin: 35px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FF0000;
    text-decoration: none;

}

.image img {
    height: 790px;
    width: 100%;

}

.head-two{
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main-part1 {
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 26px;

}
.main-part2 {
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 26px;

}

.red-button{
    margin: 50px;
    text-align: center;

}
.red-button button{
    background-color: #FF0000;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 2px;

}

.right-footer {
    text-align: right;
    margin-right: 120px;
    margin-bottom: 50px;
    margin-top: 100px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.5px;
    color: #373737;
}